flow.json
[{"id":"36e65951.c919a6","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":231.51821899414062,"y":118.52290344238281,"z":"c3aed0d3.3ce58","wires":[["463e9da9.b9c164"]]},{"id":"adfea82f.520158","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1122.5181579589844,"y":125.52290344238281,"z":"c3aed0d3.3ce58","wires":[]},{"id":"463e9da9.b9c164","type":"function","name":"Call nodestat to get performance data","func":"\n\n    context.global.nodestat.get('stat','net','load','disk','mem', function(err, data) {\n        context.global.nodestatdata=data;\n    });\n\n\t\n\nreturn msg;","outputs":1,"x":465.5182189941406,"y":120.52290344238281,"z":"c3aed0d3.3ce58","wires":[["132fada0.ecd052"]]},{"id":"52821930.ad7de8","type":"function","name":"return the performance data","func":"msg.payload=context.global.nodestatdata;\nreturn msg;","outputs":1,"x":907.5181579589844,"y":125.52290344238281,"z":"c3aed0d3.3ce58","wires":[["adfea82f.520158"]]},{"id":"132fada0.ecd052","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":696.5181579589844,"y":125.52290344238281,"z":"c3aed0d3.3ce58","wires":[["52821930.ad7de8"]]},{"id":"e59def14.1a621","type":"http in","name":"","url":"/performance","method":"get","x":250,"y":181,"z":"c3aed0d3.3ce58","wires":[["aef4842f.510b78"]]},{"id":"aef4842f.510b78","type":"function","name":"return the performance data","func":"msg.payload=context.global.nodestatdata;\nreturn msg;","outputs":1,"x":504,"y":182,"z":"c3aed0d3.3ce58","wires":[["24032e24.dbfcd2"]]},{"id":"24032e24.dbfcd2","type":"http response","name":"","x":712,"y":185,"z":"c3aed0d3.3ce58","wires":[]}]